background-color: #002147;body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
}

header {
    background-color: #002147;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #004080;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

.marquee {
    background: #ffcc00;
    padding: 5px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.marquee span {
    display: inline-block;
    animation: scroll 12s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

iframe {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #999;
}

th {
    background-color: #004080;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}

.card {
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #004080;
    background-color: #f9f9f9;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

footer {

    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}